@import "tailwindcss";
:root {
    --primary-color: #04668d; /* [var(--primary-color)] */
    --secondary-color: #5a8ea3; /* [var(--secondary-color)] */
    --tertiary-color: #f4f5f9; /* [var(--tertiary-color)] */
  }